/*Arregla estos estilos en cuanto termines*/
header > div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 10vh;
    padding-right: 10px;
}   

#colorBtn{
    padding: 0.2rem;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    filter: opacity(50%);
    border: 0.5px solid whitesmoke;
    transition: 0.5s ease-in-out;
}

#colorBtn:hover{
    filter: opacity(100%)
}