header > div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 8vh;
    padding-right: 10px;
}   
#home-btn{
    border: none;
}
#home-btn img{
    width: 2rem;
    height: 2rem;
}
#home-btn:hover{
    background: none;
}
#colorBtn{
    padding: 0.2rem;
    border: none;
}

#colorBtn:hover{
    background: none;
}

#colorBtn img{
    width: 2rem;
    height: 2rem;
}

#logout{
    border: none;
}

#logout img{
    width: 2rem;
    height: 2rem;
}

#logout:hover{
    background: none;
}