@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: rgba(61, 163, 197, 0.721);
  transition: 0.5s ease-in-out;
  color: black;
}

button{
  color: rgba(61, 163, 197, 0.721);
}


li{
  list-style-type: none;
}

