@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: cadetblue;
  transition: 0.5s ease-in-out;
  color: rgb(56, 56, 56);
}

button {
	appearance: none;
	background-color: transparent;
	border: 2px solid rgb(56, 56, 56);
	border-radius: 0.9375em;
	box-sizing: border-box;
	color: rgb(56, 56, 56);
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: normal;
	margin: 0;
	min-height: 3em;
	min-width: 0;
	outline: none;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
  	backdrop-filter: blur( 7.5px );
   }
   
button:disabled {
	pointer-events: none;
}
   
button:hover {
	color: whitesmoke;
	background-color:rgb(56, 56, 56);
}

li{
  list-style-type: none;
}

a:link, a:visited, a:active{
  text-decoration: none;
  color: rgba(44, 44, 44, 0.884);
}




