
.login{
    margin: auto;
    padding: 4rem;
    width: 50vh;
    height: 80vh;
    border-radius: 0.5rem;
    background-image: url('https://res.cloudinary.com/dbumm5v2e/image/upload/v1676970652/Mi_proyecto_1_1_ysbii4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position-x: 3rem;
    background-position-y: 4.3rem;
    align-items: center;
    -webkit-box-shadow: 10px 10px 71px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 10px 10px 71px 0px rgba(0,0,0,0.53);
    box-shadow: 10px 10px 71px 0px rgba(26, 26, 26, 0.53);
  }
.form{
  display: grid;
  justify-content: center;
}

#loginTitle{
  margin: auto;
  margin-bottom: 1.5rem;
  font-size: 32.5px;
}

form{
  display: grid;
  justify-content: center;
}

label{
  margin: auto;
  padding: 1px;
}
input{
  background: rgba(56, 56, 56, 0.118);
  backdrop-filter: blur( 7.5px );
  border: none;
  border-radius: 0.3rem;
  margin-bottom: 25px;
  padding: 5px;
  width: 15em;
  text-align: center;
  color: rgb(56, 56, 56);
}


