
 .flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 16rem;
    padding: 2rem;
    position: relative;
    overflow: hidden;
}
.title h3{
    font-size: 30px;
    position: relative;
    z-index: 2;
}
.content-bg{
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}
.content-bg img{
    z-index: 1;
    height: 20rem;
    opacity: 20%;
    margin: -1.5rem;
    position: absolute;
    filter: invert();
}

#filterButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    width: 80%;   
}

.filter-button{
    border: none;
    transition: .2s ease;
    border-radius: 15px;
    height: 2.2rem;
    width: 5rem;
    color: whitesmoke;
    text-transform: capitalize;
    font-size: .9em;
    margin: 3px;
    z-index: 2;
}

.filter-button:hover{
    background: none;
    transform: scale(1.1);
}
.filter-button > img {
    width: 2.5rem;
    height: 2.5rem;
}

.container-input {
    position: relative;
    z-index: 2;
}
  
.input {
    width: 180px;
    padding: 10px 0px 10px 40px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    outline: none;
    height: 30px;
    background: whitesmoke;
    text-align: center;
}
  
.container-input svg {
    position: absolute;
    top: 30%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
.input:focus {
    width: 250px;
}

#pokeContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
    background: whitesmoke;
}

#card{
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
    width: 300px;
    height: 350px;
    box-shadow: 1px 1px 33px -12px rgba(69,69,69,1);
    border-radius: 10px;
    transition: .5s ease;    
}

#card:hover{
    transform: scale(1.03);
    transition: .5s ease;
}
#card h2{
    color: black;
    text-align: center;
    margin-bottom: 5px;
    text-transform: capitalize;
}

#card img{
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
}

#type{
    padding: 0px;
    margin: 10px;
    width: 90px;
    border-radius: 30px;
}

#type p{
    text-align: center;
    margin: auto;
    color: whitesmoke;
}

.hw{
    padding: 0px;
    display: flex;
    gap: 10px;
}

.hw span > p{
    font-size: 12px
}
.hw > span:first-child{
    border-right: 2px solid black;
}

.abilities{
    padding: 0px;
    margin: 10px;
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abilities p{
    text-align: center;
    width: 100px;
    border-radius: 30px;
}
.hw{
    padding: 0px;
    display: flex;
    gap: 10px;
}
.hw > span:first-child{
    padding-right: 10px;
    border-right: 2px solid black;
}

@media (min-width: 1200px){
    #filterButton{
        width: 50%;
    }
}
@media (max-width: 1500px){
    .flex-container{
        height: 16rem;
     }
}
@media (max-width: 600px){
    .flex-container{
       height: 20rem;
    }
    #filterButton{
        width: 100%;
    }
}

@media (max-width: 400px){
    .flex-container{
        height: 23rem;
    }
}